asgiref
colorama
dj-database-url
Django
django-cors-headers
django-widget-tweaks
gunicorn
packaging
pdfkit
pillow
psycopg2-binary
pypng
python-decouple
qrcode
sqlparse
typing_extensions
tzdata
whitenoise
arkesel_python
requests
